body {
  font-family: sans-serif;
  margin: 40px;
  background-image: url('2.jpg');
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center;
}

#text-input{
  cursor: url("cursor1.png") 16 16, auto;
}

h1{
  text-align: center;
}

.container {
  width: 800px;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 20px;
}

textarea {
  width: 100%;
  height: 200px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
}

.buttons {
  margin-top: 10px;
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
}

#results {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 14px;
}

